body{
	width:100%;
    min-width: 100vh;
}

.header-site {
	background-image: url(../img/plataformaEaD.png);
	background-position: top center top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top:300px;
	padding-bottom:300px;
	min-height: 100vh;
    height: 100%;
}

.content-site {
	background-color:#F26F2F;
	background-size: cover;
	min-height: 100vh;
    height: 100%;
	padding-top: 20px;
}

.contact-site {
	background-image: url(../img/plataformaEaD_1.png);
	background-position: top center top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top:100px;
	min-height: 100vh;
    height: 100%;
}

.footer-site {
	background-color: #333;
	color: #dd7700;
	padding-top:50px;
	padding-bottom:50px;
	min-height: 100vh;
    height: 100%;
}

/*a img:hover.sumir{
	-webkit-transition: 2s;
	-webkit-transform: rotate(0deg);
	opacity:.01;
}*/

h1 {
	font-family:"Luna";
	font-weight:bolder;
	font-size: 123px;
}

.content-site h1{
	padding-bottom:40px;
}

#image p.zap{
 display:none;
}
#image:hover p.zap{
  display:block;
}
#image p.normal{
 display:block;
}
#image:hover p.normal{
  display:none;
}