<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Jogo {{title}} - Cadastro</title>

    <style>
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: {{"#{}".format(color)}};

	color: {{"#{}".format(color)}};
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(img/{{game}}.png);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}
# 	background-image: url(https://s19.postimg.cc/aatsuiz9v/eicamundo.jpg);

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 295px);
	z-index: 2;
}

.header div{
	float: left;
	color: {{"#{}".format(color)}};
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #ff7900 !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

option {
	width: 250px;
	height: 30px;
	background-color: #00bbcc;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
	border-radius: 2px;
	color: {{"#{}".format(color)}};
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

	width: 260px;
	height: 40px;
	background: transparent;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
	border-radius: 2px;
	color: {{"#{}".format(color)}};
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin: 4px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
	border-radius: 2px;
	color: {{"#{}".format(color)}};
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
	border-radius: 2px;
	color: {{"#{}".format(color)}};
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 260px;
	height: 35px;
	background: {{"#{}".format(color)}};
	border: 1px solid {{"#{}".format(color)}};
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin: 4px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.9)" }};
}

.login select:focus{
	outline: none;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.9)" }};
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid {{ f"rgba({color_i},{color_i},{color_i},0.9)" }};
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
}

::-moz-input-placeholder{
   color: {{ f"rgba({color_i},{color_i},{color_i},0.6)" }};
}
</style>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Jogo<span>{{title}}</span></div>
		</div>
		<br>
		<form class="login" action="/static/register" method="get">
				<input type="hidden" name="gamename" value={{game}}>
				<input type="hidden" name="doc_id" value="10000001">
				<input type="hidden" name="time" value="window.Date.now();">
				<input type="text" placeholder="Seu nome" name="user"><br>
			    <select placeholder="Ano Escolar" name="ano"><br>
				  <option value="ano0">Seu Ano</option>
				  <option value="ano1">1º Ano</option>
				  <option value="ano2">2º Ano</option>
				  <option value="ano3">3º Ano</option>
				  <option value="ano4">4º Ano</option>
				  <option value="ano5">5º Ano</option>
				  <option value="ano6">6º Ano</option>
				  <option value="ano7">7º Ano</option>
				  <option value="ano8">8º Ano</option>
				  <option value="ano9">9º Ano</option>
				  <option value="anoa">Outro</option>
				</select>
            <br/>
			    <select placeholder="Ano Escolar" name="sexo"><br>
				  <option value="indisponivel" class="opt">Seu Genero</option>
				  <option value="masculino" class="opt">Masculino</option>
				  <option value="feminino">Feminino</option>
				  <option value="outro">Outro</option>
				</select>
            <br/>
			    <select placeholder="Ano Escolar" name="idade"><br>
				  <option value="anos0">Sua Idade</option>
				  <option value="anos1">6 Anos</option>
				  <option value="anos2">7 Anos</option>
				  <option value="anos3">8 Anos</option>
				  <option value="anos4">9 Anos</option>
				  <option value="anos5">10 Anos</option>
				  <option value="anos6">11 Anos</option>
				  <option value="anos7">12 Anos</option>
				  <option value="anos8">13 Anos</option>
				  <option value="anos9">14 Anos</option>
				  <option value="anos10">15 Anos</option>
				  <option value="anos11">16 Anos</option>
				  <option value="anos12">17 Anos</option>
				  <option value="anos13">18 Anos</option>
				  <option value="anos14">19 Anos</option>
				  <option value="anos15">20 Anos</option>
				  <option value="anos16">21 Anos</option>
				  <option value="anos17">Outro</option>
				</select>
				<input type="submit" value="Entrar">
		</form>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>