<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.rawgit.com/brython-dev/brython/3.3.4/www/src/brython.js"></script>
    <script type="text/python">
        from wisconsin import main
        main()
    </script>
    <title>Wisconsin</title>
    <link rel="stylesheet" href="css/wisconsin.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>

  </head>
  <body onload="brython()">
    <form action="click" method="post">
        <input type="hidden" name="shape" value="" />
        <input type="hidden" name="status" value="" />
        <input type="hidden" name="score" value="" />
        <input type="hidden" name="criteria" value='{{json_encode(CRITERIA)}}' />
        <input type="hidden" name="return_url" value="/wisconsin/index" />

        <div class="center">
        <input type="submit" name="change" value="Tenta Novamente a Fase"/>
        <input type="submit" name="change" value="Não quero jogar"/>
        <input type="submit" name="change" value="Desisto"/>
        <input type="submit" name="change" value="Terminei mas acho que está errado"/>
        <input type="submit" name="change" value="Terminei e acho que está certo"/>
        </div>
        <br/>

        <div id="header">&nbsp;</div>
        <div id="main_content">


<!--
        {% if MSG %}
        <div id="status_block" class="flash">{{MSG}}</div>
        {% end %}

        {% if CARTAPUXADA %}
            <p>A carta:</p>
            <div class="carta puxada CARTAPUXADA.color">
                <img src="img/CARTAPUXADA.img" alt="CARTAPUXADA.pegaAtributosCarta()"
                     title="CARTAPUXADA.pegaAtributosCarta()" />
                {% for item in range(CARTAPUXADA.num-1) %}
                     <img src="img/CARTAPUXADA.img" alt=" "
                     title=" " />
                {% end %}
            </div>
            <p>Combina com qual das cartas abaixo?</p>
            <ul>
                {% for (indice, carta) in enumerate(CARTASESTIMULO) %}
                <li>
                    <a href="click?opcao={{indice}}">
                        <div class="carta carta.color">
                            <img src="img/carta.img" alt="carta.pegaAtributosCarta()"
                                 title="carta.pegaAtributosCarta()" />
                            {% for item in range(carta.num-1) %}
                                 <img src="img/carta.img" alt=" " title=" " />
                            {% end %}
                        </div>
                    </a>
                </li>
                {% end %}
            </ul>
        {% end %}
        <br />
        End of main_content -->
        </div>


    </form>
</body>
</html>